#ignore these
*

#include these
!.gitignore
!Makefile
!/src
!/src/*.c
!/src_bonus
!/src_bonus/*.c
!/include
!/include/*.h
!/include_bonus
!/include_bonus/*.h
!/doc
!/doc/*.pdf
!/doc/*.txt
!/lib
!/lib/Makefile
!/lib/include
!/lib/include/*.h
!/lib/src
!/lib/src/*.c
!/lib/*.tgz
#!/lib/minilib-linux.tgz
#!/lib/minilib_mms_beta.tgz
!/trash
!/trash/*
!/test
!/test/*

