#ignore these
*

#include these
!.gitignore
!Makefile
!/src
!/src/*.c
!/include
!/include/*.h
!/doc
!/doc/*.pdf
!/doc/*.txt
!/lib
!/lib/Makefile
!/lib/include
!/lib/include/*.h
!/lib/src
!/lib/src/*.c
!/lib/minilibx-linux
!/lib/minilibx-linux/*.h
!/lib/minilibx-linux/*.c
!/lib/minilibx-linux/Makefile
!/lib/minilibx-linux/README.md

!/lib/minilibx_mms_20191025_beta

!/lib/minilibx_opengl_20191021

!/trash
!/trash/*
!/test
!/test/*
